@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;400&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #393e46;
	color: #eeeeee;
}

nav {
	background-color: #222831;
	padding: 0 15px;
	position: fixed;
	z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
}

a {
	font-family: 'Poppins', sans-serif;
	color: #eeeeee;
	text-decoration: none;
}

a:hover {
	color: #00adb5;
	text-decoration: underline;
}

.menu {
	list-style-type: none;
	position: sticky;
}

.index {
	font-size: 20px;
	padding: 7.5px 10px 7.5px 0;
}

.item {
	padding: 10px;
}

h2, h3 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	text-decoration: underline;
}

/* jump to correct place with a fixed nav */
#about:before, #projects:before, #photography:before, #contact:before {
    content: " ";
    display: block;
    visibility: hidden;
    margin-top: -6em;
    height: 6em;
}

#about {
	margin-top: 100px;
}

#about p, ul {
	margin: 10px auto;
	width: 80%;
}

#about ul {
	list-style: none;
}

#projects p {
	margin: 10px auto;
	width: 80%;
}

#contact p {
	margin: 10px auto;
	width: 80%;
	text-align: center;
}

.photo-container {
	display: flex;
	width: 90vw;
	margin: 0 auto;
}

.panel {
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 70vh;
	cursor: pointer;
	flex: 0.5;
	margin: 10px;
	border-radius: 3em;
	transition: flex 1s ease-in;
}

.panel.active {
	flex: 5;
}

.photo-container div:nth-of-type(1) {
	background-image: url("panel1.JPG");
}

.photo-container div:nth-of-type(2) {
	background-image: url("panel2.jpeg");
}

.photo-container div:nth-of-type(3) {
	background-image: url("panel3.JPG");
}

.photo-container div:nth-of-type(4) {
	background-image: url("panel4.JPG");
}

.photo-container div:nth-of-type(5) {
	background-image: url("panel5.JPG");
}


.card {
	width: 350px;
	height: 450px;
	background: rgba(255, 255, 255, 0.05);
	margin: 3% auto;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	border-radius: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.card .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
	margin-bottom: 20%;
}

.card:hover .content {
	transform: translateY(-20px);
}

.card .content .avi {
	position: relative;
	width: 15em;
	height: 15em;
	border-radius: 50%;
	overflow: hidden;
	border: 10px solid #222831;
}

.card .content .avi img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card .social {
	position: absolute;
	bottom: 50px;
	display: flex;

}

.card .social li {
	list-style: none;
	margin: 0 auto;
	transform: translateY(40px);
	opacity: 0.5;
	transition: transform 0.5s;
	transition-delay: calc(0.1s * var(--i));
}

.card:hover .social li {
	transform: translateY(0px);
	opacity: 1;
}

.card .social li a {
	font-size: 45px;
}

/* Mobile menu */
.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.menu li a {
	display: block;
	padding: 15px 5px;
}

.toggle {
	order: 1;
	font-size: 20px;
}

.item {
	order: 3;
	width: 100%;
	text-align: center;
	display: none;
}

.active .item {
	display: block;
}

@media(max-width: 500px) {
	/* hide the fourth and fifth panels */
	.panel:nth-of-type(4), .panel:nth-of-type(5) {
		display: none;
	}
}


  
/* Tablet menu */
@media all and (min-width: 700px) {
	.menu {
		justify-content: center;
	}
	
	.index {
		flex: 1;
	}

	.toggle {
	  flex: 1;
	  text-align: right;
	  order: 2;
	}
}

/* Desktop menu */
@media all and (min-width: 960px) {
	.menu {
		align-items: flex-start;
		flex-wrap: nowrap;
		background: none;
	}

	.index {
		order: 0;
	}

	.item {
		order: 1;
		position: relative;
		display: block;
		width: auto;
	}

	.toggle {
		display: none;
	}
}
