body {
	background-color: #b3cce6;
}

h1 {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	text-align: center;
}

nav {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	text-align: center;
}

#bio {
	text-align: center;
}
